.button {
    padding: 10px 20px;
    background-color: var(--darkgrey);
    font-weight: bold;
    margin: 25px 0;
    border-radius: 5px;
}

.center{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    height: 80vh; 
  }

.vertical {
    display: flex;
    flex-direction: column; /* Stack links vertically */
    align-items: center; /* Center links horizontally */
  }
  